# C++
bin/
build/

# Python
/applications/.idea
/applications/env
*.pyc
.ipynb_checkpoints/
/applications/experiments/**/*.sh

# LaTeX
*-eps-converted-to.pdf
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex
*.tps

# Results
*.pygstyle
*.pygtex
/applications/kernel_cache/
/applications/volnet/cache/
/applications/volnet/results/
/applications/volnet/results*/
*mc-cache.hdf5
/applications/test-*.png
/applications/archives
/applications/volnet/train_inr_helper.py
/applications/network.json
